* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #000;
    font-family: 'IM Fell English SC', serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


header {
    background-image: url(images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box {
    text-align: center;
    margin-top: 30%;
    color: rgba(0, 0, 0, 0.72);
}

#start-button{
    font-family: 'Arizonia', cursive;    
    font-size: 150%;
    color: rgba(235, 235, 235, 0.85);
    text-decoration: none;
    margin-top: 50%;
}

h1 {
    margin: 0;
}